.vertical-pinned-tabs-container-separator {
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Vertically center the items */
    justify-content: flex-end; /* Align the items to the left */
}

.vertical-pinned-tabs-container-separator:hover > .clear-tabs-button {
    opacity: 1;
}
.arrow {
    display: inline-block;
    transition: transform 0.3s ease; /* Adds smooth movement */
}

.arrow.move-down {
    transform: translateY(10px); /* Move the arrow 10px down */
}
